
<div class="card">
  <img src="/assets/{{fruta}}.png" class="card-img-top mx-auto" alt="..." style="max-width: 15rem; height: auto;"> 
  <div class="card-body">
    <h5 class="card-title text-center">{{fruta}}</h5>
    <p class="card-text text-center">Productos de selección</p>
    <div class ="text-center">
      <a href="#" class="btn btn-warning">Comprar</a>
    </div>
  </div>
</div>

